In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data.csv')

In [6]:
df.head()

   width  height  tall grade
0    594     554   345     A
1    540     508   302     A
2    534     519   296     B
3    516     524   318     B
4    473     474   272     C

In [7]:
df.dtypes

width      int64
height     int64
tall       int64
grade     object
dtype: object

In [8]:
df['grade'].unique()

array(['A', 'B', 'C'], dtype=object)

In [ ]:
# Mengganti nilai kolom "gender"
df['grade'] = df['grade'].replace({'A': 1, 'B': 2, 'C': 3})


df.head()